*
{
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
}

#section
{
    position: relative;
    width: 100%;
    /* height: 20vh;  (height from the nav bar to next div) */
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 100px;
}
nav ul li 
{
 list-style: none;
 display: inline;
 margin: 0px 30px 0px 0px;
 
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 2ch;
    font-weight: 500;
}
nav ul li a:hover
{
    color: red;
    text-decoration: underline;
}
.home
{
    margin: 50px 0px 0px 50px;
    position: relative;
}
.home-content
{
    margin-top: 185px;
}
.homehead h1
{
    font-family: "Amatic SC", serif;
    font-size: 60px;
}
.homehead h1 span
{
    font-family: "Amatic SC", serif;
    color: orange;
}
.para
{
    line: height 1;
}

#download
{
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    display:inline-block;
    margin-top: 20px;
}
.home-image
{
    height: 75%;
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group
{
    position: absolute;
    height: 200%;
    bottom: 10%;
    left: 50%;
    transform: translate(-100%);
    transition: bottom 1.5s, left 3s;
   

}
.home-image:hover #shape
{
    bottom: 50px;
}
.home-image:hover #girl
{
    left: 60%
}
#about
{
    margin:10% 0 0 0 ;
}
.intro
{
    color: green;
}
.sectionid
{
    text-align: center;
}
.aboutme h2
{
    
    font-size: 30px;
}
.intro
{
    font-size: 20px;
}
.abtimg
{
    width: 80%;
}
.imgab
{
    /* margin: 50px; */
    text-align: center;
    margin-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.img4
{
    width: 80%;
}
.parax
{
    text-align: justify;
    margin-right: 20px;
}
.info
{
    margin-top: 10px;
}
.info span
{
    margin-left: 5px;
}

.skill-div
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 20px;
    align-items: center;

}
.bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px;
    margin-left: 40px;
}
.base-bar
{
    
    position: absolute;
    bottom: 0px;
    height: 7px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.html-bar
{
    background-color: orange;
    width: 89%;
}
.css-bar
{
    background-color: orange;
    width: 60%;
}
.react-bar
{
    background-color: orange;
    width: 70%;
}
.js-bar
{
    background-color: orange;
    width: 80%;
}
.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.anim
{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.aboutme,.intro{
    text-align: center;
}
.brand
{
    color: black;
    font-size: 30px;
}
.anim:hover
{
    background-image: linear-gradient(to top, skyblue, pink, yellow);
    animation: rotate 4s;
}
@keyframes rotate
{
 0%{transform: rotate(30deg);}   
 20%{transform: rotate(-30deg);}
 40%{transform: 30deg;}
 60%{transform: -30deg;}
 80%{transform: rotate(30deg);}
 100%{transform: rotate(30deg);}

}
.anim:hover .brand
{
    color: white;
}
#copy
{
    text-align: center;
    margin-top: 40px;

}
.uparrow
{
    float: right;
    margin: 0px 30px 30px 0px;

}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background-color: white;
}
::-webkit-scrollbar-thumb
{
    background-color: orange;
    border-radius: 10px;
}
html
{
    scroll-behavior: smooth;
}